<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="shortcut icon" type="image/x-icon" href="../../../static/favicon.ico">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="renderer" content="webkit" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title>移动客服</title>
  <style lang="scss">
    html,
    body {
      height: 100%;
    }

    body {
      background-color: #f4f6f8;
    }

    body {
      padding-top: constant(safe-area-inset-top);
      padding-left: constant(safe-area-inset-left);
      padding-right: constant(safe-area-inset-right);
      padding-bottom: constant(safe-area-inset-bottom);
    }

  </style>
</head>

<body>
  <div id="app"></div>
</body>
<script src="<%= htmlWebpackPlugin.options.prefix %>static/js/moment.js"></script>
<script src="<%= htmlWebpackPlugin.options.prefix %>static/js/fastclick.js"></script>

</html>
