@import "src/assets/sass/mixin";

a,
article,
aside,
b,
body,
button,
dd,
div,
dl,
dt,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
i,
input,
li,
nav,
p,
section,
select,
span,
textarea,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-family: $fr;

  &:hover {
    outline: none;
  }
}

// input占位符颜色
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  @include sc(32px, rgba(209, 209, 209, 1));
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  @include sc(32px, rgba(209, 209, 209, 1));
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  @include sc(32px, rgba(209, 209, 209, 1));
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

input[type="button"],
input[type="reset"],
input[type="search"],
input[type="submit"] {
  -webkit-appearance: none;
}

textarea {
  -webkit-appearance: none;
}

body,
html {
  height: 100%;
  width: 100%;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.clear {
  zoom: 1;
}

.back_img {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.margin {
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//头部公共css
.appTopOther {
  @include wh(100%, 56px);
  background-color: #3F4FA6;
}

.header {
  background-color: #3F4FA6 !important;

  h1 {
    @include sc(34px, rgba(3, 3, 3, 1));
    @include flexCenter;
    font-family: $fm;
  }
}

.fs-backBox {
  width: 50px;
  height: 20px;
  @include flexHCenter;
}

.fs-EmailBox {
  width: 50px;
  height: 20px;
  @include flexHCenter;
  @include fj(flex-end)
}

.fs-Email {
  @include wh(20px, 15px)
}

.fs-backICon {
  @include wh(8px, 15px);
}

// //无数据
.ListNoData {
  @include center;

  .noDataTittle {
    @include flexCenter;
    @include sc(30px, rgba(136, 136, 136, 1));
    font-family: $fr;
  }
}
